@model List<Sibri.Contract.category.Category>
<div id="nei10_011_left" class="zuolieradiussh">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            var link = $"/English/News/List/{item.CategoryID}";
            if (item.IsHref.Value)
            {
                link =$"/English{item.Href}";
            }
            <div class="boxbottom01" onclick="window.location.href='@link'"><img src="/images/dotarrow.png" />@item.CategoryNameEN</div>
        }
    }
</div>