@using Sibri.WebPage.ViewComponents
@model Sibri.Contract.pages.News
@{
    ViewData["Title"] = Model.Title;
}
@section Header{
    @await Component.InvokeAsync(nameof(Top))
}
@section Footer{
    @await Component.InvokeAsync(nameof(Bottom))
}
@await Component.InvokeAsync(nameof(Banner), new { categoryid = Model.ColumnID })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        @await Component.InvokeAsync(nameof(Left), new { view = "News", categoryid = Model.ColumnID })
        <div id="nei10_01_right">
            @*<div class="protit01 margintop20">发展历程</div>*@
            <div id="newsdetail">
                <div class="jwen newsdetailtit">@Model.Title</div>
                <div class="coloror textcenter00">[@Model.ShortRegDate]</div>
                <div class="ling00"></div>
                <div class="height30kong"></div>
                <div class="newsnei">
                    @Html.Raw(Model.NewsDetail)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="height30kong"> </div>
