@using Sibri.WebPage.ViewComponents
@using Sibri.BLL.category.services
@model int
@inject ICategoryService ca
@{
    var category = await ca.GetCategoryByID(Model);
    ViewData["Title"] = category.CategoryName;
}
@section Header{
    @await Component.InvokeAsync(nameof(Top))
}
@section Footer{
    @await Component.InvokeAsync(nameof(Bottom))
}
@await Component.InvokeAsync(nameof(Banner), new { categoryid = Model })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        @await Component.InvokeAsync(nameof(Left), new { view = "News", categoryid = Model })
        <div id="nei10_01_right">
            <div class="protit01 margintop20">@category.CategoryName</div>

            <div v-for="item in picNewsData">
                <div class="newspic">
                    <div class="newspic_left"><img v-bind:src="item.newsImageName|photo" /></div>
                    <div class="newspic_right">
                        <div><a v-bind:href="item.newsID|link" target="_blank" class="jwen">{{item.title|changeLength(30)}}</a></div>
                        <div class="coloror">[{{item.shortRegDate}}]</div>
                        <div class="newsnei">{{item.newsDetail|clean|changeLength(108)}}</div>
                    </div>
                </div>
                <div class="ling00"></div>
            </div>


            <div class="clearboth00" id="jwen_newslie">
                <ul v-for="item in newsData.items">
                    <li><div class="newsneilieleft "><img src="/images/dotpic.gif" /><a v-bind:href="item.newsID|link" target="_blank">{{item.title|changeLength(35)}}</a></div><div class="newsneilieright">[{{item.shortRegDate}}]</div></li>
                </ul>
            </div>
            @*导航开始*@
            <paging-component v-if="show" v-bind:page-data="newsData" v-on:update-pagedata="updatePageData"></paging-component>
        </div>
    </div>
</div>
<div class="height30kong"></div>
<template id="pagingTpl" style="display:none">
    <div class="tcdPageCode">
        <span v-if="cur>1" v-on:click="pageClick('up')"><</span>
        @*<span v-if="cur==1" style="display:none">上一页</span>*@
        <span v-for="index in indexs" v-on:click="btnClick(index)" v-bind:class="{ 'active': cur == index}">{{ index }}</span>
        <span v-if="cur!=all" v-on:click="pageClick('down')">></span>
        @*<span v-if="cur==all" style="display:none">下一页</span>*@
    </div>
</template>


@section Scripts{
    <script src="~/js/polyfill.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/vue.js"></script>
    <script>
           var vmPaging = {
    props: ['pageData'],
    template: "#pagingTpl",
    methods: {
        pageClick: function pageClick(tp) {
            if (tp == 'up') this.$emit('update-pagedata', { pageIndex: this.cur - 1 });else this.$emit('update-pagedata', { pageIndex: this.cur + 1 });
        }, btnClick: function btnClick(idx) {
            if (idx != this.cur && idx!="...") {
                this.$emit('update-pagedata', { pageIndex: idx });
            }
        }
    }, computed: {
        indexs: function indexs() {
            var left = 1;
            var right = this.all;
            var ar = [];
            if (this.all >= 5) {
                if (this.cur > 3 && this.cur < this.all - 2) {
                    left = this.cur - 2;
                    right = this.cur + 2;
                } else {
                    if (this.cur <= 3) {
                        left = 1;
                        right = 5;
                    } else {
                        right = this.all;
                        left = this.all - 4;
                    }
                }
            }
            if (left >= 2) {
                ar.push(1);
            }
            if (left > 2) {
                ar.push("...");
            }
            while (left <= right) {
                ar.push(left);
                left++;
            }
            if (right + 1 < this.all) {
                ar.push("...");
            }
            if (right + 1 <= this.all) {
                ar.push(this.all);
            }
            return ar;
        }, all: function all() {
            return this.pageData.totalPages;
        }, cur: {
            get: function get() {
                return this.pageData.pageIndex;
            }
        }
    }
};

var vm = new Vue({
    el: "#q_neipro_10",
    data: {
        picNewsData: {},
        newsData: {},
        pageSize: 10,
        pageIndex: 1,
        categoryid:"@Model",
        show: false
    }, methods: {
        updatePageData: function updatePageData(payload) {
            if ("pageIndex" in payload) this.changeData.pageIndex = payload.pageIndex;
            //console.log(this.changeData);
            axios.get('/News/NewsList', {
                params: this.changeData
            }).then(function (response) {
                vm.newsData = response.data;
            }).catch(function (error) {
                console.log(error);
            });
        }
    }, mounted: function mounted() {
        axios.get("/News/NewsPicList", {
            params: {
                categoryid: this.categoryid,
                count: 2,
                language: 0
            }
        }).then(function (response) {
            //console.log(response.data);
            vm.picNewsData = response.data;
        }).catch(function (error) {
            console.log(error);
        });
        axios.get("/News/NewsList", {
            params: this.changeData
        }).then(function (response) {
            if (response.data.items.length != 0) {
                //console.log(response.data);
                vm.show = true;
                vm.newsData = response.data;
            }
        }).catch(function (error) {
            console.log(error);
        });
    }, filters: {
        photo: function photo(value) {
            var imgUrl = '/upload/image/' + value;
            return imgUrl;
        }, link: function link(value) {
            var Url = '/News/Detail/' + value;
            return Url;
        }, changeLength: function changeLength(value, length) {
            return value.substr(0, length);
        }, clean: function clean(value) {
            return value.replace(/<\/?.+?>/g, "");
        }
    }, computed: {
        changeData: function changeData() {
            return {
                categoryid: this.categoryid,
                pageSize: this.pageSize,
                pageIndex: this.pageIndex,
                language: 0
            };
        }

    }, components: {
        'paging-component': vmPaging
    }
});
    </script>
}
