<div id="nei10_011_left" class="zuolieradiussh">
    <div class="boxbottom01" onClick="window.location.href='/Views/Static/history.asp'"><img src="/Content/images/dotarrow.png" />发展历史</div>
    <div class="boxbottom01" onClick="window.location.href='/Views/Static/news.asp'"><img src="/Content/images/dotarrow.png" />研究所新闻</div>
    <div class="boxbottom01" onClick="window.location.href='/Views/Static/introduction.asp'"><img src="/Content/images/dotarrow.png" />基本情况</div>
    <div onClick="window.location.href='/Views/Static/organization.asp'"><img src="/Content/images/dotarrow.png" />组织结构</div>
</div>

    <script>
        $('#nei10_011_left>div').hover(function () {
            $(this).addClass('select02').siblings().removeClass('select02');
        });
        $('#nei10_011_left>div').click(function () {
            $(this).addClass('select02').siblings().removeClass('select02');
        });
    </script>
