@using Sibri.WebPage.Areas.English.ViewComponents
@{
    ViewData["Title"] = "Contact Us";
}
@section Header{
    @await Component.InvokeAsync(nameof(TopEn))
}
@section Footer{
    @await Component.InvokeAsync(nameof(BottomEn))
}
@await Component.InvokeAsync(nameof(BannerEn), new { categoryid = 9 })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        <div id="nei10_01_right02">
            <div class="protit03">SHANGHAI INDUSTRIAL BOILER RESEARCH INSTITUTE CO.,LTD</div>
            <div id="container">
                <table class="zebra">
                    <tr>
                        <th>ADDRESS</th>
                        <td>Floor 1~3, Building 4, Pujiang Hi-tech Park, No. 138 Xinjunhuan Road, Pujiang Town, Minhang District, Shanghai</td>
                        <th>POSTCODE</th>
                        <td>201114</td>
                    </tr>
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）</td>
                        <th>FAX</th>
                        <td>021-54398636</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td colspan="3">sibri@public1.sta.net.cn</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="padleftcontact">
                            Bank：工行上海市浦江高科技园支行 1001119809100005381<br />
                            Account：上海工业锅炉研究所有限公司<br />
                            Tel：021-34781959<br />
                            Tax Number：91310106425014109E
                        </td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">General Office</div>
                <table class="zebra">
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）-208</td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>021-54398636</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">Business Office</div>
                <table class="zebra">
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）-217</td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>021-54707609</td>

                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">Technology Development Department</div>
                <table class="zebra">
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）-328（Technology Development Dept. I）、327（Technology Development Dept. II）</td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>021-54399306（Technology Development Dept. I）、021-54399025（Technology Development Dept. II）</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">Industry Department</div>
                <table class="zebra">
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）-329</td>
                    </tr>
                    <tr>
                        <th>FAX</th>
                        <td>021-54395873</td>

                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">Inspection Center</div>
                <table class="zebra">
                    <tr>
                        <th>PHONE</th>
                        <td>021-34781959（Operator）-108</td>

                    </tr>

                    <tr>
                        <th>FAX</th>
                        <td>021-54709972</td>

                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="height30kong"> </div>
        </div>
    </div>
</div>
<div class="height30kong"> </div>



