@using Sibri.WebPage.Areas.English.ViewComponents
@{
    ViewData["Title"] = "Job";
}
@section Header{
    @await Component.InvokeAsync(nameof(TopEn))
}
@section Footer{
    @await Component.InvokeAsync(nameof(BottomEn))
}
@await Component.InvokeAsync(nameof(BannerEn), new { categoryid = 8 })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        <div id="nei10_01_right02">
            <div class="protit01 margintop20">Vacant seats wait for elites</div>
            <div id="container">
                <table class="zebra">
                    <tr>
                        <th>
                            <div class="jobtit">
                                <div class="jobzwtit01">Job 1: Product designer (2 persons)</div>
                                @*<div class="tityou"><a href="#">申请该职位</a></div>*@
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td class="padleftcontact">
                            Undergraduate or above&nbsp; ｜&nbsp; in major of heat energy or related&nbsp; ｜&nbsp; More than 2 years work experience
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="jobtit02 padleftcontact"><img src="/images/DOT03.gif" />Job description:</div>
                            <div class="padleftcontact kongpaddingbottom">
                                1. More than 2 years experience in boiler product design and R & D; experience in HRSG and power generation boiler design is preferred.<br />
                                2. Be able to use related design and application software skillfully;<br />
                                3. Have strong sense of responsibility and professional ethics and team spirit.
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <table class="zebra">
                    <tr>
                        <th>
                            <div class="jobtit">
                                <div class="jobzwtit01">Job 2: Product design engineer (1 person)</div>
                                @*<div class="tityou"><a href="#">申请该职位</a></div>*@
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td class="padleftcontact">
                            Undergraduate or above&nbsp; ｜&nbsp; More than 8 years work experience
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="jobtit02 padleftcontact"><img src="/images/DOT03.gif" />Job description:</div>
                            <div class="padleftcontact kongpaddingbottom">
                                1. More than 8 years experience in boiler product design and R & D;<br />
                                2. Be able to skillfully use the relevant design and application software, grasp and understand the domestic and foreign technology related development trends and relevant standards and regulations.<br />
                                3. Who has experience in R & D of HRSG and special fuel boiler technology and product will be preferred.<br />
                                4. Priority in boiler design awards or patents; technical management experience is preferred.<br />
                                5. With the title of intermediate or above;<br />
                                6. Have strong sense of responsibility and professional ethics and team spirit.
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
            </div>
            <div class="jobkuang">
                <div class="jbkuang_01 emailcolor">
                    <div>
                        <img src="/images/DOT03.gif" />Please contact us by email or by post<span class="coloror">(please indicate the position you want to apply in your resume)</span>：<br />
                        <span class="colorbl">
                            Contact address: Floor 1~3, Building 4, Pujiang Hi-tech Park, No. 138 Xinjunhuan Road, Pujiang Town, Minhang District, Shanghai<br />
                            Contact telephone: 021-34781959 * 226<br />
                            E-mail：<a href="mailto:gyglyjs@163.com">gyglyjs@163.com</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="height30kong"> </div>
        </div>
    </div>
</div>
<div class="height30kong"> </div>

