@{
    ViewData["Title"] = "基本情况";
    //await Component.InvokeAsync("Category", new { view = "Name", categoryid = 11 })
}
@section Css{
    <link href="~/css/pubu.css" rel="stylesheet" />
    <link href="~/css/zoomify.min.css" rel="stylesheet" />
}
@section Header{
    @await Component.InvokeAsync("Top")
}
@section Footer{
    @await Component.InvokeAsync("Bottom")
}
@await Component.InvokeAsync("Banner", new { categoryid = 11 })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        @await Component.InvokeAsync("Left", new { view = "Page", categoryid = 11 })
        <div id="nei10_01_right">
            <div class="protit01 margintop20">基本情况</div>
            <div>
                <p>上海工业锅炉研究所有限公司是我国唯一从事工业锅炉行业节能新产品、新技术研发和推广，产品热工性能测试和环保性能测试、锅炉辅机产品性能评定、行业情报和标准工作的应用型研究所。</p>
                <p>本所是中国电器工业协会工业锅炉分会理事长单位和秘书长单位，也是全国锅炉压力容器标准化技术委员会工业锅炉节能减排专业委员会挂靠单位、中国锅炉水处理协会副理事长单位。</p>
                <p>本所现有员工63人，工程技术人员占76%，其中教授级高工及国家有突出贡献专家2人，高级工程师10人，工程师25人，硕士7人。</p>
            </div>
            <!--瀑布流  start-->
            <div id="wrapper">
                <div id="container">
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="1" data-original="/images/intro/1.jpg" width="225" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="2" data-original="/images/intro/2.jpg" width="225" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="3" data-original="/images/intro/3.jpg" width="225" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="4" data-original="/images/intro/4.jpg" width="225" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="5" data-original="/images/intro/5.jpg" width="225" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="imgholder">
                            <img class="lazy" title="6" data-original="/images/intro/6.jpg" width="225" />
                        </div>
                    </div>
                </div>
            </div>
            <!--瀑布流 end-->
            @*<div class="clear"></div>
                <div class="load_more">
                    <span class="load_more_text">加载更多...</span>
                </div>*@
        </div>
    </div>
</div>
<div class="height30kong"></div>
@section Scripts{
    <script src="~/js/jquery.lazyload.min.js"></script>
    <script src="~/js/blocksit.min.js"></script>
    <script src="~/js/zoomify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.loadImage();
            $('.imgholder img').zoomify();
        });
    </script>
}
