@using Sibri.WebPage.ViewComponents
@{
    ViewData["Title"] = "联系我们";
}
@section Header{
    @await Component.InvokeAsync(nameof(Top))
}
@section Footer{
    @await Component.InvokeAsync(nameof(Bottom))
}
@await Component.InvokeAsync(nameof(Banner), new { categoryid = 9 })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        <div id="nei10_01_right02">
            <div class="protit03">上海工业锅炉研究所有限公司</div>
            <div id="container">
                <table class="zebra">
                    <tr>
                        <th>地&nbsp; 址</th>
                        <td>上海市闵行区浦江镇新骏环路138号浦江高科技园区4幢1-3楼</td>
                        <th>邮政编码</th>
                        <td>201114</td>
                    </tr>
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）</td>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54398636</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td colspan="3"><a href="mailto:sibri@public1.sta.net.cn">sibri@public1.sta.net.cn</a></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="padleftcontact">
                            开户银行：工行上海市天目东路支行 1001215509300553939<br />
                            户&nbsp; &nbsp; 名：上海工业锅炉研究所有限公司 51020808<br />
                            税&nbsp; &nbsp; 号：91310106425014109E
                        </td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">综合办公室</div>
                <table class="zebra">
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）-208</td>
                    </tr>
                    <tr>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54398636</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">科技经营处</div>
                <table class="zebra">
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）-217</td>

                    </tr>
                    <tr>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54707609</td>

                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">技术开发部</div>
                <table class="zebra">
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）-328（一部）、327（二部）</td>
                    </tr>
                    <tr>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54399306（一部）、021-54399025（二部）</td>
                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">行业工作部</div>
                <table class="zebra">
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）-329</td>

                    </tr>
                    <tr>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54395873</td>

                    </tr>
                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>
                </table>
                <div class="height30kong"> </div>
                <div class="protit03 ">机械工业锅炉及环保产品质量监督检测中心</div>
                <table class="zebra">
                    <tr>
                        <th>电&nbsp; &nbsp; 话</th>
                        <td>021-34781959（总机）-108</td>

                    </tr>

                    <tr>
                        <th>传&nbsp; &nbsp; 真</th>
                        <td>021-54709972</td>

                    </tr>

                    <tr>
                        <th> E-mail</th>
                        <td></td>
                    </tr>


                </table>
            </div>

            <div class="height30kong"> </div>
        </div>
    </div>
</div>
<div class="height30kong"> </div>


