
@{
    ViewData["Title"] = "主要服务内容";
}
@section Header{
    @await Component.InvokeAsync("Top")
}
@section Footer{
    @await Component.InvokeAsync("Bottom")
}
@await Component.InvokeAsync("Banner", new { categoryid = 21 })
<div id="q_common" class="topcommon">
    <div id="mid_common">
    </div>
</div>
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        @await Component.InvokeAsync("Left", new { view = "Page", categoryid = 21 })
        <div id="nei10_01_right">
            <div class="protit01 margintop20">主要服务内容——按产品分类分</div>
            <div>
                <img src="/images/fuwu.gif" />
            </div>
            <div class="height30kong"></div>
            <div class="protit01 margintop20">主要服务内容——按产品类别分</div>
            <div>
                <img src="/images/fuwu02.gif" />
            </div>
            <div class="height30kong"> </div>
        </div>
    </div>
</div>
<div class="height30kong"> </div>


