@{
    ViewData["Title"] = "登陆管理";
}

@*<div class="wrapper wrapper-content animated fadeInRight" id="app">*@
<div class="wrapper wrapper-content fadeInRight" id="app">
    <edit :edit-data="parentData"></edit>
    <div class="modal inmodal" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog form-horizontal">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>*@
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">管理员注册</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input placeholder="用户名" class="form-control" v-model.trim="username">
                            <span class="text-danger">{{uValidate}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-8">
                            <input type="password" placeholder="密码" class="form-control" v-model.trim="password">
                            <span class="text-danger">{{pValidate}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">角色：</label>
                        <div class="col-sm-8">
                            <select v-model="role" class="form-control">
                                <option disabled value="">请选择</option>
                                <option>admin</option>
                                <option>system</option>
                            </select>
                            @*<input type="password" placeholder="密码" class="form-control" v-model="role">*@
                            <span class="text-danger">{{rValidate}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-sm btn-white" type="button" v-on:click="login">注册</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                        管理员注册
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>管理员列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" placeholder="请输入关键词" class="input-sm form-control" v-model="keywords"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" v-on:click="search"> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>序列</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>角色</th>
                                    <th>日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in adminlists">
                                    @*<td>
                                            <input type="checkbox" class="i-checks" v-bind:value="item.UserID" v-model="userid">
                                        </td>*@
                                    <td>
                                        {{index+1}}
                                    </td>
                                    <td>{{item.userName}}</td>
                                    <td>
                                        <span class="pie">{{item.password}}</span>
                                    </td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.regDate}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" v-on:click="edit(item.userID)">修改</button>
                                        <button type="button" class="btn btn-primary btn-xs" v-on:click="del(item.userID)">删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        Vue.component('edit', {
            // 声明 props
            props: ['editData'],
            // 就像 data 一样，prop 也可以在模板中使用
            // 同样也可以在 vm 实例中通过 this.message 来使用
            template: '<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">\n        <div class="modal-dialog form-horizontal">\n            <div class="modal-content animated bounceInRight">\n                <div class="modal-header">\n                    <h4 class="modal-title">\u7F16\u8F91\u5185\u5BB9</h4>\n                </div>\n                <div class="modal-body">\n                    <div class="form-group">\n                        <label class="col-sm-3 control-label">\u7528\u6237\u540D\uFF1A</label>\n                        <div class="col-sm-8">\n                            <input placeholder="\u7528\u6237\u540D" class="form-control" v-model.trim="editData.userName">\n                            <span class="text-danger">{{uValidate}}</span>\n                        </div>\n                    </div>\n                    <div class="form-group">\n                        <label class="col-sm-3 control-label">\u5BC6\u7801\uFF1A</label>\n                        <div class="col-sm-8">\n                            <input type="password" placeholder="\u5BC6\u7801" class="form-control" v-model.trim="editData.password">\n                            <span class="text-danger">{{pValidate}}</span>\n                        </div>\n                    </div>\n                    <div class="form-group">\n                        <label class="col-sm-3 control-label">\u89D2\u8272\uFF1A</label>\n                        <div class="col-sm-8">\n                            <select v-model="editData.role" class="form-control">\n                                <option disabled value="">\u8BF7\u9009\u62E9</option>\n                                <option>admin</option>\n                                <option>system</option>\n                            </select>\n                            <span class="text-danger">{{rValidate}}</span>\n                        </div>\n                    </div>\n                </div>\n                <div class="modal-footer">\n                    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" aria-hidden="true">\u5173\u95ED</button>\n                    <button class="btn btn-sm btn-white" type="button" v-on:click="editConfirm(editData.userID)">\u4FEE\u6539</button>\n                </div>\n            </div>\n        </div>\n    </div>',
            methods: {
                editConfirm: function editConfirm(id) {
                    if (this.editData.userName != "" && this.editData.password != "" && this.editData.role != "") {
                        var self = this;
                        $.post('/Admin/EditUser', { id: id, username: this.editData.userName, password: this.editData.password, role: this.editData.role }, function (data) {
                            if (!data) {
                                self.temp = "该用户名已存在";
                            } else {
                                //vm.adminlists.push({ username: this.username, password: this.password })
                                $("#editModal").modal("hide");
                                $.getJSON('/Admin/UserList', function (data) {
                                    vm.adminlists = data;
                                });
                            }
                        });
                    }
                }
            }, computed: {
                uValidate: function uValidate() {
                    var msg = '';
                    if (this.editData.userName == "") {
                        msg = "请输入用户名";
                    } else {
                        msg = this.temp;
                    }
                    return msg;
                }, pValidate: function pValidate() {
                    var msg = '';
                    if (this.editData.password == "") {
                        msg = "请输入密码";
                    }
                    return msg;
                }, rValidate: function rValidate() {
                    var msg = '';
                    if (this.editData.role == "") {
                        msg = "请选择角色";
                    }
                    return msg;
                }

            }, watch: {
                'editData.userName': function editDataUserName(newValue) {
                    if (newValue != '') {
                        this.temp = '';
                    }
                }
            }, data: function data() {
                return {
                    temp: ''
                };
            }

        });

        var vm = new Vue({
            el: "#app",
            data: {
                username: '',
                password: '',
                role: '',
                temp: '',
                keywords: '',
                adminlists: [],
                parentData: {}
            }, methods: {
                login: function login() {
                    if (this.username != "" && this.password != "" && this.role != "") {
                        $.post('/Admin/AddUser', { username: this.username, password: this.password, role: this.role }, function (data) {
                            if (!data) {
                                vm.temp = "该用户名已存在";
                            } else {
                                //vm.adminlists.push({ username: this.username, password: this.password })
                                $("#loginModal").modal("hide");
                                $.getJSON('/Admin/UserList', function (data) {
                                    vm.adminlists = data;
                                });
                            }
                        });
                    }
                }, edit: function edit(id) {
                    $.getJSON('/Admin/EditUser', { id: id }, function (data) {
                        //console.log(data);
                        vm.parentData = data;
                        $("#editModal").modal("show");
                    });
                }, del: function del(id) {
                    if (confirm("是否确定要删除?")) {
                        $.post('/Admin/DelUser', { id: id }, function () {
                            $.getJSON('/Admin/UserList', function (data) {
                                vm.adminlists = data;
                            });
                        });
                    }
                }, search: function search() {
                    $.post('/Admin/SearchUser', { key: this.keywords }, function (data) {
                        vm.adminlists = data;
                    });
                }
            }, computed: {
                uValidate: function uValidate() {
                    var msg = "";
                    if (this.username == "") {
                        msg = "请输入用户名";
                    } else {
                        msg = this.temp;
                    }
                    return msg;
                }, pValidate: function pValidate() {
                    var msg = "";
                    if (this.password == "") {
                        msg = "请输入密码";
                    }
                    return msg;
                }, rValidate: function rValidate() {
                    var msg = "";
                    if (this.role == "") {
                        msg = "请选择角色";
                    }
                    return msg;
                }
            }, watch: {
                username: function username(newValue) {
                    if (newValue != "") {
                        this.temp = "";
                    }
                }
            }, mounted: function mounted() {
                $.getJSON('/Admin/UserList', function (data) {
                    vm.adminlists = data;
                });
            }
        });
    </script>
}
