<div id="q_top_fixed">
    <div id="q_top01"></div>
    <div id="q_top02">
        <div id="mid_top02" class="padtop12">
            <div class="borderright10 mtop02div">
                <div class="topright00top padtop05 paderro">
                    <div class="smallfont fontweightbold"><a href="#">中文</a>&nbsp; <a href="#">ENGLISH</a>&nbsp; <a href="#" class="topemail">企业邮箱</a>&nbsp; </div>
                    <div><img src="/Content/images/phone.gif" /></div>
                    <div>021-34781959</div>
                </div>
                <div class="topright00top padtop05 clearboth00">
                    <div><input name="" type="text" class="inputtopss" /></div>
                    <div><img src="/Content/images/sebut.gif" /></div>
                </div>
            </div>
        </div>
        <div id="mid_top02_turn" class="padtop12_turn">
            <div class="borderright10 dhsmaill">导航</div>
        </div>
    </div>
    <div class="linehei1"></div>
    <div class="top-head" id="headdiv00">
        <div class="top02">
            <div id="mid_dh" class="top02_center nav">
                <ul>
                    <li id="m1" class="m"><a href="/Views/Home/index.asp" class="aa1 mmm dhtit navlineheight">首页</a></li>
                    <li id="m3" class="m">
                        <a href="/Views/Static/introduction.asp" class="aa3 mmm dhtit navlineheight">公司简介</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li><a href="/Views/Static/history.asp"><img src="/Content/images/dhimages/nav_web.jpg" />发展历史</a></li>
                                        <li><a href="/Views/Static/news.asp"><img src="/Content/images/dhimages/nav_web2.jpg" />研究所新闻</a></li>
                                        <li><a href="/Views/Static/introduction.asp"><img src="/Content/images/dhimages/nav_web3.jpg" />基本情况</a></li>
                                        <li><a href="/Views/Static/organization.asp"><img src="/Content/images/dhimages/nav_web4.jpg" />组织结构</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m6" class="m"><a href="/Views/Static/platform.asp" class="aa6 mmm dhtit navlineheight">平台建设</a></li>
                    <li id="m4" class="m">
                        <a href="/Views/Static/secretariat.asp" class="aa4 mmm dhtit navlineheight">行业服务</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="#"><img src="/Content/images/dhimages/cr_img1.png"></a>
                                    <a href="#"><img src="/Content/images/dhimages/cr_img2.png"></a>
                                </div>
                                <div class="xiao_five2">
                                    <p><a href="/Views/Static/secretariat.asp">工业锅炉分会秘书处</a><a href="/Views/Static/energy-saving.asp">工业锅炉节能减排专委会秘书处</a></p>
                                    <p><a href="/Views/Static/magazine.asp">《工业锅炉》杂志编辑部</a><a href="/Views/Static/web.asp">中国锅炉网</a></p>
                                    <p><a href="/Views/Static/service.asp">其他行业服务</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m2" class="m">
                        <a href="/Views/Static/inspection.asp" class="aa2 mmm dhtit navlineheight">检测与能审</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="#"><img src="/Content/images/dhimages/cr_img1.png"></a>
                                    <a href="#"><img src="/Content/images/dhimages/cr_img2.png"></a>
                                </div>
                                <div class="xiao_five2">
                                    <p><a href="/Views/Static/inspection.asp">机构简介</a><a href="/Views/Static/aptitude.asp">相关资质</a></p>
                                    <p><a href="/Views/Static/equipment.asp">主要设备</a><a href="/Views/Static/content.asp">主要服务内容</a></p>
                                    <p><a href="/Views/Static/achievement.asp">主要业绩</a></p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="m5" class="m">
                        <a href="/Views/Product/product.asp" class="aa5 mmm dhtit navlineheight">产品与技术</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li><a href="/Views/Product/present.asp"><img src="/Content/images/dhimages/nav_news.jpg" />基本介绍</a></li>
                                        <li><a href="/Views/Product/research.asp"><img src="/Content/images/dhimages/nav_news2.jpg" />科研成果</a></li>
                                        <li><a href="/Views/Product/product.asp"><img src="/Content/images/dhimages/nav_news3.jpg" />技术开发</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="m9" class="m"><a href="/Views/Static/job.asp" class="aa8 mmm dhtit navlineheight">人才招聘</a></li>
                    <li id="m7" class="m"><a href="/Views/Static/contact.asp" class="aa7 mmm dhtit navlineheight">联系我们</a></li>
                </ul>
            </div>

        </div>
        <div class="linehei1"></div>
    </div>
</div>

    <script type="text/javascript">
        jQuery(".nav").slide({ type: "menu", titCell: ".m", targetCell: ".sub", effect: "slideDown", delayTime: 300, triggerTime: 100, returnDefault: true });
    </script>



