@model Cms.BLL.news.viewmodels.NewsView
@using Cms.BLL.category.viewmodels
@using Cms.BLL.category.services
@inject ICategoryService Options
@{
    ViewData["Title"] = "新闻发布";
    var categorylist = await Options.getCategoryByID(7);
}
<div class="wrapper wrapper-content fadeInRight" id="app">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新闻发布</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="buttons.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="buttons.html#">选项1</a>
                            </li>
                            <li>
                                <a href="buttons.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <form asp-action="Create" onsubmit="return vm.validate()" enctype="multipart/form-data">
                    <div class="ibox-content">
                        <div class="col-sm-12">
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">栏目*：</label>
                                <div class="col-sm-6">
                                    @foreach (var item in categorylist)
                                    {
                                        <div class="checkbox-custom pull-left">
                                            <input type="checkbox" value="@item.CategoryID" id="ck_@item.CategoryID" name="checkbox" v-model="column" />
                                            <label for="ck_@item.CategoryID">@item.CategoryName</label>
                                        </div>
                                    }
                                    <div class="col-sm-3">
                                        <span class="text-danger">{{vcheckbox}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  clearfix">
                                <label class="col-sm-1 control-label">语言*：</label>
                                <div class="col-sm-2">
                                    @*<select class="form-control" asp-for="Language">
                                            <option value="0">中文</option>
                                            <option value="1">English</option>
                                        </select>*@
                                    <select class="form-control" asp-items="@Html.GetEnumSelectList<Language>()" asp-for="Language"></select>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">标题*：</label>
                                <div class="col-sm-6">
                                    <input placeholder="新闻标题" class="form-control" asp-for="Title" v-model="title" />
                                </div>
                                <div class="col-sm-2">
                                    <span class="text-danger">{{vtitle}}</span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">副标题：</label>
                                <div class="col-sm-6">
                                    <input placeholder="新闻副标题" class="form-control" asp-for="SubTitle" />
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">内容*：</label>
                                <div class="col-sm-8">
                                    @*<script id="container" name="content" type="text/plain">
                                            @Html.Raw(Model.Content)
                                        </script>*@
                                    <textarea asp-for="Content" id="container"></textarea>
                                </div>
                                <div class="col-sm-2">
                                    <span class="text-danger">{{vcontainer}}</span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">图片新闻：</label>
                                <div class="col-sm-3">
                                    <input type="file" asp-for="NewsImg" class="form-control">
                                </div>
                                @*<div class="col-sm-2">
                                        <span class="text-danger" asp-validation-for="NewsImg"></span>
                                    </div>*@
                            </div>
                            <div class="form-group clearfix">
                                <label class="col-sm-1 control-label">图片处理：</label>
                                <div class="col-sm-6">
                                    <div class="checkbox-custom pull-left">
                                        <input type="checkbox" id="picnews" asp-for="IsPictureNews" v-model="picnews"/>
                                        <label for="picnews">需要对图片的大小进行处理</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8 text-center">
                                    <button class="btn btn-lg btn-primary" type="submit">确定</button>
                                    <input type="reset" class="btn btn-lg btn-primary" value="取消" />
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/ueditor/ueditor.config.js"></script>
    <script src="~/lib/ueditor/ueditor.all.js"></script>
    <script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                column: [],
                vcheckbox: "",
                //container: "",
                vcontainer: "",
                title: "",
                vtitle: "",
                picnews:true,
                ue: UE.getEditor("container")
            }, methods: {
                validate: function () {
                    if (this.column.length < 1) {
                        this.vcheckbox = "请选择栏目";
                        return false;
                    } else { 
                        this.vcheckbox = "";
                    }
                    if (this.title == "") {
                        //console.log(222);
                        this.vtitle = "请选择标题";
                        return false;
                    } else { 
                        this.vtitle = "";
                    }
                    if (this.ue.getContentTxt() == "") {
                        this.vcontainer = "请输入内容";
                        return false;
                    } else { 
                        this.vcontainer = "";
                    }
                    return true;
                }

            }

        });

    </script>
}
