@model Sibri.Contract.category.Category
<div id="toplan"></div>
<div id="mb_tit">
    <span class="mbtit02">@Model.CategoryNameEN</span><br />
    <span class="mbtit01 mbbt">@Model.CategoryName</span>
</div>


