@using Sibri.WebPage.Areas.Mobile.ViewComponents
@{
    ViewData["Title"] = "人才招聘";
}
@section Header{
    @await Component.InvokeAsync(nameof(TopMb))
}
@section Footer{
    @await Component.InvokeAsync(nameof(BottomMb))
}
@await Component.InvokeAsync(nameof(BannerMb))
@await Component.InvokeAsync(nameof(TitleMb), new { categoryid = 8 })
<div id="mbpiccenter" class="container">
    <div class="protit01 margintop20">虚位以待&nbsp; &nbsp; 诚聘精英</div>
    <div id="container">
        <table class="zebra">
            <tr>
                <th>
                    <div class="jobtit">
                        <div class="jobzwtit01">职位一：产品设计员（2名）</div>
                    </div>
                </th>
            </tr>
            <tr>
                <td class="padleftcontact">
                    本科以上&nbsp; ｜&nbsp; 热能及相关专业&nbsp; ｜&nbsp; 2年以上工作经验
                </td>
            </tr>
            <tr>
                <td>
                    <div class="jobtit02 padleftcontact"><img src="/images/DOT03.gif" />职位描述</div>
                    <div class="padleftcontact kongpaddingbottom">
                        1、2年以上锅炉产品设计、研发工作经验；具有余热锅炉、发电锅炉设计经历尤佳。<br />
                        2、能够熟练使用相关设计应用软件；<br />
                        3、具有较强的责任感和职业道德，有团队合作精神。
                    </div>
                </td>
            </tr>
        </table>
        <div class="height30kong"> </div>
        <table class="zebra">
            <tr>
                <th>
                    <div class="jobtit">
                        <div class="jobzwtit01">职位二：产品设计师（1名）</div>
                    </div>
                </th>
            </tr>
            <tr>
                <td class="padleftcontact">
                    本科以上&nbsp; ｜&nbsp; 8年以上工作经验
                </td>
            </tr>
            <tr>
                <td>
                    <div class="jobtit02 padleftcontact"><img src="/images/DOT03.gif" />职位描述</div>
                    <div class="padleftcontact kongpaddingbottom">
                        1、8年以上锅炉产品设计、研发工作经验；<br />
                        2、能够熟练使用相关设计应用软件，掌握了解国内外技术相关技术发展趋势和相关标准、法规；<br />
                        3、有余热锅炉、特种燃料锅炉技术和产品研发经验的人员优先考虑；<br />
                        4、获得锅炉设计奖项或专利的优先考虑；具有技术管理经验的优先；<br />
                        5、中级以上职称；<br />
                        6、具有较强的责任感和职业道德，有团队合作精神。
                    </div>
                </td>
            </tr>
        </table>
        <div class="height30kong"> </div>
    </div>
    <div class="jobkuang">
        <div class="jbkuang_01 emailcolor">
            <div>
                <img src="/images/DOT03.gif" />请有意者通过电邮或邮寄方式联系我们<span class="coloror">（简历中请标明应聘职位）</span>：<br />
                <span class="colorbl">
                    联系地址：上海市新骏环路138号上海临港浦江国际科技城4幢1-3楼<br />
                    联系电话：021-34781959--226<br />
                    E-mail：<a href="mailto:gyglyjs@163.com">gyglyjs@163.com</a>
                </span>
            </div>
        </div>
    </div>
    <div class="height30kong"> </div>
</div>
<div class="kong30"></div>

