* {
	margin:0;
	padding:0;
    vertical-align:middle;
	}
	
xhtml,body {
	font: normal 100% Arial, Helvetica,	sans-serif;
	line-height:30px;
/*	overflow-x:hidden;*/
	
	}
	
/*html, body {font-family:georgia, verdana, tahoma, arial, sans-serif;  }*/
	

img {	border:0;
display: inline-block;
max-width: 100%;
    height: auto;
width: auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;	}


h1 {
	font-size:1.5em;}

.smallfont {
	font-size:0.875em;}




ul {padding:0;margin:0
}


p{	text-indent: 2em;
;text-align:justify;
text-justify:inter-ideograph;}



a {
	color:#000;
	text-decoration:none;
	}


a:hover {
	color:#666;

}


div[id^=q],#headdiv {
	width:100%;
	clear:both;
	}

div[id^=spjz] {
	position: absolute;
    
    left: 50%;
    transform: translate(-50%, 0);  /* 使用css3的transform来实现 */
	}

div[id^=mid] {


	margin: 0 auto;
	clear:both;
	}	


.topright00top>div {
	float:left;
	}
	
.floatright00,.mtop02div>div {
	float:right;}

.clearboth00 {
	clear:both;}
	
.dhsmaill {
	position:fixed;
	top:30px;
	right:30px;}
	
	
.padtop05{
	padding-top:5px;}
	

#q_top01 {
	background-color:#002878;

	height:8px;}




#mid_top02,#mid_top02_turn {
	padding:10px;}
	
#mid_top0200>div {
		float:left;
}



a.topemail {
	color:#f97604;
	text-decoration:none;
	}

a.topemail:hover {
	color:#fe3d01;
	
	
	text-decoration:none;
	}	

.yangshi a:hover {color:#CC3300;text-decoration:underline;}




.fontweightbold {
	
	font-weight:500;
	}

.borderright10 {
	border-right: 10px;
}



.topright00 {
	padding-left:20px;}




#mid_top03 {
	height:50px;
	background-color:#FFF;
	}


.linehei1 {
	background-color:#CCC;
	height:1px;
	width:100%;}


.toppicmin01 {
	width:750px;
	}

#q_top_fixed {
	
	position:fixed;
	top:0px;
	z-index:999;
	}

.xiao_five2 p {
	text-indent:0;!important}

.inputtopss{
	border:0.5px solid #e4e4e4;
	height:22px;
	
	}




/* 导航开始 */
#mid_dh>ul {
	display: block;
/*width: 970px;*/
margin: 0 auto;
position: relative;
	
	
	
	}

.nav li{ position:relative;}
h1{color:#232323;}
p{color:#686868;}
ul{list-style:none;}
.cursor{cursor:pointer;}
.clear{font-size:0;line-height:0;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.l{float:left;}
.r{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}


.gy{width:970px;margin:0 auto;overflow:hidden;}

a.navdh{text-decoration:none;color:#00174b;}
a.navdh:hover{text-decoration:none;color:#f3782a;}

.top-blank{height:125px;overflow:hidden;background:none;}

.top-head{height:55px;z-index:1000;}
/*.top-head{height:55px;position:fixed;top:0;width:100%;z-index:1000;background:none;}*/
.shadow{width:100%;height:7px;font-size:0;overflow:hidden;background:url(/images/dhimages/nav_shadow.png) repeat-x;}

.top01{width:100%;height:30px;line-height:30px;background:#1f2229;/*color:#f5f5f5;*/ color:#F3782A;overflow:hidden;}
.top01_center{text-align:left;/* width:362px;*//*padding-left:840px;margin:0 auto;*/ float:right;}
.top01_center img{float:left;margin-top:3px;}
.top02{height:55px;width:100%;}
.logo{width:365px;float:left;padding-top:20px;}


.nav li{
	width: 110px;
	margin: 0 5px 0 6px;
	float: left;
	text-align: center;/* position:relative;*/
}
.nav a{

	display: block;
	font-size: 1em;/*overflow:hidden;*/
}


.navlineheight{
	height: 53px;
	line-height:53px;
	display: block;
	font-size: 1em;/*overflow:hidden;*/
}
.dhtit {
	font-weight:bold;
	color:#00174b
	}
#mid_dh a:hover{text-decoration:none;color:#f3782a; }

.nav li a:after{content: "";display: block;position: absolute;left: 50%;right: 50%;bottom: -3px;height: 3px;opacity: 0;background-color: #dc6103;-webkit-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s;transition: all .5s;}
.nav li a:hover:after{left: 1%;right: 1%;opacity: 1;-webkit-transition: all .5s;-o-transition: all .5s;-ms-transition: all .5s;transition: all .5s;}

.nav a#sel{border-bottom:3px solid #f3782a;color:#f3782a;}
.nav a#sel:hover:after{opacity: 0;}

.nav .sub{display:none;width:100%;padding:0;position:fixed;top:165px;overflow:hidden;text-align:left;z-index:110;left:0px;background-color:#f5f5f5;}
.nav .sub .nav_xiao{width:1200px;overflow:hidden;padding-top:5px;margin:0 auto;padding-bottom:50px;}
.nav .sub .nav_xiao .xiao_one{width:760px;float:right;overflow:hidden;}
.nav .sub .nav_xiao .xiao_one a{float:left;display:inline;height:28px;line-height:28px;width:108px;margin-right:12px;overflow:hidden;border-bottom:1px solid #d3d2d2;color:#313030;background:url(/images/dhimages/201603/nav_dian.jpg) left center no-repeat;padding:0;padding-left:15px;margin-top:13px;font-size:12px;font-family:"宋体";}
.nav .sub .nav_xiao .xiao_one a:hover{color:#f3782a;}
.nav .sub .nav_xiao .xiao_two{margin-top:28px;width:760px;float:right;}
.nav .sub .nav_xiao .xiao_two img{float:left;margin-right:25px;}
.nav .sub .nav_xiao .xiao_two .nav_div{float:left;width:380px;padding-top:30px;font-size:12px;color:#666666;line-height:22px;}
.nav .sub .nav_xiao .xiao_two .nav_div h2{font-size:16px;color:#f3782a;font-weight:normal;letter-spacing:1px;line-height:36px;}

.nav .sub .nav_xiao .xiao_three{width:950px;float:right;overflow:hidden;}
.nav .sub .nav_xiao .xiao_three ul{width:1000px;}
.nav .sub .nav_xiao .xiao_three ul li{float:left;display:inline;width:172px;height:190px;overflow:hidden;margin-right:19px;text-align:center;position:inherit;line-height:46px;margin-left:0px;}
.nav .sub .nav_xiao .xiao_three ul li img{width:100%;height:138px;display:block;}
.nav .sub .nav_xiao .xiao_three ul li a{color:#686868;width:100%;font-size:14px;height:100%;padding-top:17px;}
.nav .sub .nav_xiao .xiao_three ul li a:hover{color:#f3782a;}
.nav .sub .nav_xiao .xiao_three ul li:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.nav .sub .nav_xiao .xiao_three ul.nav_wechat li{width:195px;}
.nav .sub .nav_xiao .xiao_three ul.nav_wechat li img{width:195px;height:138px;}

.nav .sub .nav_xiao .xiao_four{width:512px;overflow:hidden;margin-right:25px;margin-left:55px;}
.nav .sub .nav_xiao .xiao_four h2{font-size:18px;font-weight:normal;color:#333333;height:50px;line-height:50px;border-bottom:1px solid #b3b3b3;letter-spacing:3px;margin-top:10px;}
.nav .sub .nav_xiao .xiao_four .ul{width:590px;}
.nav .sub .nav_xiao .xiao_four .ul li{height:42px;line-height:42px;margin-right:80px;padding-right:10px;width:205px;overflow:hidden;float:left;display:inline;background:url(/images/dhimages/nav_dian2.png) right center no-repeat;margin-left:0px;position:inherit;}
.nav .sub .nav_xiao .xiao_four .ul li a{padding:0;width:205px;text-align:left;}

.nav .sub .nav_xiao .xiao_five{width:680px;overflow:hidden;float:left;margin-top:15px;margin-left:50px;}
.nav .sub .nav_xiao .xiao_five img{width:280px;height:212px;}
.nav .sub .nav_xiao .xiao_five a{width:280px;height:212px;padding:0;margin-right:45px;float:left;}
.nav .sub .nav_xiao .xiao_five2{float: right;margin-right: 20px;text-align: left;width: 445px;margin-top:15px;}
.nav .sub .nav_xiao .xiao_five2 p{border-bottom: 1px solid #D9D9D9;box-shadow: none;font-size: 14px;padding: 10px 0;}
.nav .sub .nav_xiao .xiao_five2 p a{text-align: left;width: 200px;display: inline-block;padding-top:0;height:auto;padding: 5px 0;font-size:14px;}

.nav .sub .nav_xiao .xiao_six_l{float:left;width:140px;margin-left:70px;overflow:hidden;margin-top:35px;}
.nav .sub .nav_xiao .xiao_six_l a{display:block;height:46px;line-height:46px;font-size:16px;color:#333333;padding-left:20px;background:url(/images/dhimages/yuming_pic9.png) left center no-repeat;padding-top:0;}
.nav .sub .nav_xiao .xiao_six_l a.osel{background:url(/images/dhimages/yuming_pic9_on.png) left center no-repeat;color:#f3782a;}
.nav .sub .nav_xiao .xiao_six_r{float:left;width:990px;overflow:hidden;text-align:center;}
.nav .sub .nav_xiao .xiao_six_r img{display:block;margin:0 auto;margin-bottom:32px;transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;}
.nav .sub .nav_xiao .xiao_six_r a{float:left;width:140px;height:auto;border-left:1px solid #e2e3e3;padding-top:0;margin-top:50px;}
.nav .sub .nav_xiao .xiao_six_r a:hover img{margin-top:-4px;margin-bottom:36px;}




#headdiv00 {
	background-color:#fff;
}


/* 导航结束 */



@media only screen
and (min-width : 360px) {
/* 大屏 */


#mid_top02 {	display:block;	}
#mid_top02_turn {	display:none;	}
#headdiv00  {	display:block;	}
#q_bottom_01  {	display:block;	}
/*#headdiv00_turn {	display:none;	}*/

#q_neipro01,#q_common {	display:block;	}
/*div[id^=mid] {

	min-width:970px;}*/


#q_top02 {
	background-color:#f7f7f7;
	height:100px;

	
	}



.padtop12{
	height:100px;
	
	background-image:url(/images/toplogonew.gif);
	background-repeat:no-repeat;
	background-position:top 20px left 20px;

	}

#mid_top02>div {
	
	float:right;}


}


@media only screen
and (max-width : 360px) {
/* 小屏 */

#mid_top02 {	display:none;	}
#mid_top02_turn {	display:block;	}

#headdiv00 {	display:none;	}

#q_bottom_01  {	display:none;	}



#q_neipro01,#q_common {display:none;}

#q_top02 {
	background-color:#f7f7f7;
	height:65px;

	
	}



.padtop12_turn{

	
	height:60px;
	
	background-image:url(/images/toplogonew_turn.gif);
	background-repeat:no-repeat;
	background-position:top 10px left 10px;
	
	
	
	
	
	
	
	
	
	}





/*#headdiv00_turn {	display:block;	}*/


}




#q_bottom_01 {
	background-color:#1a1a1a;
	height:260px;
	color:#fff;
	padding:30px 10px;
	
	
	}


#q_bottom_02 {
	
	background-color:#101010;
	text-align:center;
	color:#fff;
	
	line-height:60px;

	
	}


#mid_bottom_01 > div {
	float:left;
	width:23%;}

.bottomline {
	border-bottom: solid 1px #262626;}


.bottomaddr {
	padding-top:15px;
	color:#888;
	
	}

.bottomphone {
	color:#c5c5c5;
	font-weight:bold;

	
	
	}
.bottomphone a {
	color:#143699;

	
	}

.bottomphone a:hover {
	color:#305fe4;
	text-decoration:underline;

	
	}


.bottompicleft img {
	float:left;
	margin:20px 0;
}



.bottompicleftmargin20 {


	margin-left:120px;
}



.bottomxiangmuline>div {
	background-color:#e16831;
	height:3px;
	width:70px;


	
	
	}


.bottomxiangmuline {
	border-bottom:solid 1px #252525;
	padding-top:10px;

	
	}

.bottomxm01 {
	padding-top:10px;}



.bottomrightline {
	border-right:solid 1px #252525;}


.bottomleft10 {
	padding-left:15px;}
	
	
	
.bottomleft10 a {
	color:#fff;}
	
.bottomleft10 a:hover {
	text-decoration:none;
	}

.bottombutton01 {
	border:solid 1px #fff; 
	
	border-radius: 25px;
	height:45px;
	line-height:45px;
	width:180px;
	text-align:center;
	font-size:14px;
	background-color:#232323;
	font-weight:bold;
	margin-top:35px;
	
	}
	
	
.bottombuttonindex01 {
	border:solid 1px #eeeeee; 
	
	border-radius: 25px;
	height:45px;
	line-height:45px;
	width:180px;
	text-align:center;
	font-size:14px;

	font-weight:bold;
	margin-top:35px;
	
	}
	
.bottombutton01hover {
	
	background-color:#000;
	color:#4a6d81;
	border:solid 1px #4a6d81; 
	
	}


.bottombuttonindex01hover {
	
	background-color:#fff;

	border:solid 1px #4a6d81; 
	
	}
	
.button_showcenterhover	{
	
	background-color:#fff!important;

	border:solid 1px #4a6d81; 
	
	}
	
.bottombuttonindex01hover a,.button_showcenterhover a {
	

	color:#4a6d81;

	
	}
	


.qyfc > ul >li {
	float:left;
	padding-right:8px;
	padding-bottom:8px;}



.bottomxm01 > ul{
	clear:both;
	}

#mid_center01_01>div {
	padding:30px 30px 30px 10px;

	
	float:left;}
#news_indexleft {
	width:430px;
	
	
	}

#news_indexright {
	max-width:600px;


	
	
	}

#news_indexleft li>div {
	float:left;}
#news_indexleft li {
	clear:both;
	height:130px;



}


.news_indexleftimg {
	padding-right:10px;
	padding-bottom:10px;}


.news_indexjd {
	width:320px;}

.wbold {
	font-weight:bold;}
	
	
.wcol {
	color:#294486;}
	
	
.whui a {
	color:#8f8f8f;
	font-size:12px;
	line-height:23px!important;}
.whui a:hover {
	text-decoration:underline;
	color:#000;
	font-size:12px;
	line-height:23px!important;}	
	
	
.newsindextitbg {
	background-image:url(/images/indexbg01.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	width:100%;
	margin:30px 0;
	
}	
	
	
.box_indexnewstit {
	background-color:#da6730;
	height:15px;
	width:8px;
	
	}
	
	
.newsmainindex {
	color:#666666;
	
	}	
	
	
#q_center02 {

	background-image:url(/images/indexbg02.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#000;
	
	}
	

	
	
	
	
	
.tit04jvzhong {

	position: absolute;
    left: 50%;

	
	
 
	
	transform: translate(-50%,10px);
	-ms-transform: translate(-50%,10px);		/* IE 9 */
	-webkit-transform: translate(-50%,10px);	/* Safari and Chrome */
	-o-transform: translate(-50%,10px);		/* Opera */
	-moz-transform: translate(-50%,10px);		/* Firefox */
	
	
	
	
	}	
	
	
.tit04jvzhong>div {
	float:left;

	margin:13px;}





#indexlie04 {
	clear:both;
	margin:200px 30px 30px 30px;
	width:100%;
	background-color:#fff;
	height:375px;

	
	}


<!---->


.ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.ih-item img {
    width: 100%;
    height: 100%;
}


.ih-item.circle .img:before {
    position: absolute;
    display: block;
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
    border-radius: 50%;
}


.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}






.ih-item.circle.effect1 .img {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: auto;
    height: auto;
}


.ih-item.circle.effect1 .img:before {
    display: none;
}


.ih-item.circle.effect1 .info {
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}







.ih-item.circle.effect1 a:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ih-item.circle.effect1 a:hover .info {
    opacity: 1;
}










.ih-item.circle.effect1 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}




.ih-item.circle.effect1 .spinner {
   
    border: 10px solid #ecab18;
    border-right-color: #1ad280;
    border-bottom-color: #1ad280;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.ih-item.circle {
    position: relative;
   
    border-radius: 50%;
}


.ih-item.circle .img {
    position: relative;
   
    border-radius: 50%;
}

















<!---->
	
.indexfuwuyoudh li {
	display:block!important;
	line-height:35px;
	height:38px;}	
	
	
.indexfuwuyoudh {
	padding-top:50px;
	padding-bottom:20px;
	}	
	
	
	
.indexfuwuyoudh a:hover {
	color:#e16831;
	}	
	
	
div[class^=indexlxfs]>div {
	float:left;}	
	
	
.indexlxfsphone {
	font-size:1.1em;
	color:#9c6ade;

	}	
	
.indexlxfsphonehide {

	display:none;
	}		
	
div[class^=indexlxfs] img {
	padding:3px;}	
	
	
#q_center03 {
	background-color:#f5f5f5;
	min-height:660px;
	}	
	
	
.indexcenter01_03_tit {
	font-size:1.8em;
	text-align:center;
	height:70px;
	line-height:70px;}	

#spjz_lanindexcenter01_03 {
	width:200px;
	height:3px;
	background-color:#1761a0;}	
	
.indexyjs {
	color:#1761a0;
    vertical-align:top;
	
	}	
#spjz_indexcenter01_03 {
	padding:80px 0 50px 0;}	
	
	
#spjz_huiindexcenter01_03 {
	margin-top:3px;
	clear:both;
	background-color:#ccc;
	height:1px;
	width:400px;}	


#yjs_index {
	clear:both;
	padding-top:220px;}
	
#yjs_index>div {
	float:left;}	
	
	
#yjs_indexleft {
	padding:0 60px 0 20px;
	width:45%;}	