<div id="q_neipro_dh">
    <div id="mid_neipro02">
        <div id="tit" class="neidaohang">
            <div class="select" onClick="window.location.href='/English/Product'">Basic Introduction</div>
            <div class="linedhzuo" onClick="window.location.href='/English/Product/List/31'">Products & Technologies</div>
        </div>
    </div>
</div>
<div id="q_neipro_dh02">
    <div id="mid_neipro02">
        <div id="con">
            <div></div>
            @*<div class="chanpindh">
                @foreach (var item in Model)
                {
                    <a href="/Product/List/@item.CategoryID">@item.CategoryName</a>
                }
            </div>*@
        </div>
    </div>
    <div class="linehei1 hideline" id="neidaohangline">
    </div>
</div>
