<div id="yjstop_picturn00" class="topbackground00">
    <div class="mb_topbgmain jz">
        <span class="mbtoppinctit01"><span class="toppiccolor weightbold">1984</span>年独立建制</span><br />
        <span class="mbtoppinctit02 weightbold"><span class="toppiccolor">专</span>业、权<span class="toppiccolor">威</span>、创<span class="toppiccolor">新</span></span><br />
        中国电器工业协会工业锅炉分会<br /><span class="toppiccolor">理事长单位、秘书长单位</span>
    </div>
</div>
