@using Sibri.WebPage.Areas.English.ViewComponents
@{
    ViewData["Title"] = "Home";
}
@section Css{
    <link href="~/english/css/pictopcss.css" rel="stylesheet" />
    <link href="~/english/css/comstyleindex.css" rel="stylesheet" />
}
@section Header{
    @await Component.InvokeAsync(nameof(TopEn))
}
@section Footer{
    @await Component.InvokeAsync(nameof(BottomEn))
}
<div id="q_top05">
    <div id="mid_top05" class="wrapper">
        <div class="content">
            <div id="color_list" class="bg_colors">
                <div class="bgs_box bgs_1">
                    <div class="wp">
                        <div class="img_area">
                            <div class="shadow png">
                                <div class="s_img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                    </div>
                </div>
                <div class="bgs_box bgs_2">
                    <div class="wp">
                        <div class="img_area">
                            <div class="shadow png">
                                <div class="s_img"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                    </div>
                </div>
                <div class="bgs_box bgs_3">
                    <div class="wp">
                        <div class="img_area">
                            <div class="shadow png">
                                <div class="s_img"></div>
                            </div>
                            <div class="shadow01 png">
                                <div class="s_img01"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>
            <div class="main">
                <div id="txt_list" class="item_txt_box">
                    <div class="item_txt item_txt_1">
                        <div>
                            <span class="toptith01">Professional & Authority</span><br />
                            <span class="toptet01">
                                SIBRI is the only research institute in China who engages in R & D and promoting of energy-saving new products and technologies in industrial boiler industry, thermal performance testing of products, environmental protection performance testing, performance evaluation of boiler auxiliary products, industry intelligence and standardization work.
                            </span>
                        </div>
                        <div class="detail">
                            <a href="/English/Static/BriefIntroduction" class="download_btn png">Detail</a>
                        </div>
                    </div>
                    <div class="item_txt item_txt_2">
                        <div>
                            <span class="toptith01">Research & Development</span><br />
                            <span class="toptet01">
                                SIBRI has been focused on the technology R & D and industrialization application of boilers and auxiliaries, and has accumulated a number of representative product technologies over the past 30 years.
                            </span>
                        </div>
                        <div class="detail other">

                            <a href="/English/Product" class="download_btn png">Detail</a>
                        </div>
                    </div>
                    <div class="item_txt item_txt_3">
                        <div>
                            <span class="toptith01">Energy saving and low nitrogen improvement project</span><br />
                            <span class="toptet01">In January 2018, we successfully carried out the low nitrogen improvement work on a 5t/h boiler with German standard in Jinzhong Square. After testing, the full load emission is less than 50mg/m3.</span>
                        </div>
                        <div class="detail other">
                            <a href="/English/Product/List/30" class="download_btn png">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="switch_box" class="switch_list"> <span class="on"></span> <span class=""></span> <span class=""></span> </div>
        </div>
    </div>
</div>
<div id="q_top06">
    <div id="mid_top06">
        <img src="/images/topbutton01.png" />
    </div>
</div>
<!--待测结束-->
<div id="q_center02">
    <div id="mid_center01_02">
        <div class="titindexfuwu">
            <div class="indexfuwu">
                <div>Industry&nbsp; Services</div>
            </div>
        </div>
        <div class="linefuwutit"></div>
        <div class="tit04jvzhong">
            <!-- normal -->
            <div class="ih-item circle effect1">
                <a href="/English/Page/PageInfo/13">
                    <div class="spinner"></div>
                    <div class="img"><img src="/images/indexfw01.jpg"></div>
                    <div class="info">
                        <div>
                            <h3>Industry Services</h3>

                        </div>
                    </div>
                </a>
            </div>
            <!-- end normal -->
            <!-- norma2 -->
            <div class="ih-item circle effect1">
                <a href="/English/Page/PageInfo/18">
                    <div class="spinner"></div>
                    <div class="img"><img src="/images/indexfw02.jpg"></div>
                    <div class="info">
                        <div>
                            <h3 class="infoh301">Inspection & Energy Audit</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end norma2 -->
            <!-- norma3 -->
            <div class="ih-item circle effect1">
                <a href="/English/Product">
                    <div class="spinner"></div>
                    <div class="img"><img src="/images/indexfw03.jpg"></div>
                    <div class="info">
                        <div>
                            <h3 class="infoh302 h3letterspacing">Products<br />& Technologies</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end norma3 -->
            <!-- norma4 -->
            <div class="ih-item circle effect1">
                <a href="/English/Static/Platform">
                    <div class="spinner"></div>
                    <div class="img"><img src="/images/indexfw04.jpg"></div>
                    <div class="info">
                        <div>
                            <h3 class="infoh303 h3letterspacing">Platform Establishment</h3>

                        </div>
                    </div>
                </a>
            </div>
            <!-- end norma4 -->
        </div>
        <div id="indexlie04">
            <ul id="con">
                <li class="show">
                    <div><img src="/images/indexfuwu02.jpg" width="299" height="342"></div>
                    <div class="showcenter">
                        <div class="showcentertit01">Industry Services</div>
                        <div class="showcentertit02">Brief Introduction</div>
                        <div>
                            <p>The Industrial Boiler Branch of China Electrical Equipment Industry Association (CIBB) （the former "China Industrial Boiler Industry Association"）was founded in 1993 and incorporated into the China Electrical Equipment Industry Association in 1996. It carries out works in the name of CIBB.</p>
                        </div>
                        <div>
                            <div class="button_showcenter"><a href="/English/Page/PageInfo/13">MORE</a></div>
                        </div>
                    </div>
                    <div class="indexfuwuyou">
                        <div class="indexfuwuyoudh02">
                            <ul>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/13">the Secretariat of Industrial Boiler Branch</a></li>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/14">the Secretariat of Industrial Boiler Energy-saving & Emission Reduction Professional Committee</a></li>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/15">Editorial Department of Industrial Boiler Journal</a></li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/16">
                                        www.china-boiler.net
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/17">
                                        Other industry services
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="indexlxfs">
                            <div class="indexlx"><a href="javascript:void(0);"><img src="/images/phome.gif" width="32" height="32"></a></div>
                            <div class="indexlxfsphone">021-34781959</div>
                            <div><a href="mailto:"><img src="/images/indexemail.gif" width="33" height="32"></a></div>
                        </div>
                    </div>
                </li>
                <!-- <li>内容222</li>-->
                <li>
                    <div><img src="/images/indexfuwu02.jpg" width="299" height="342"></div>
                    <div class="showcenter">
                        <div class="showcentertit01">Inspection & Energy Audit</div>
                        <div class="showcentertit02">Organization profile</div>
                        <div>
                            <p>Quality Supervision and Inspection Center of Machinery Industrial Boiler and Environmental Protection Product (hereinafter abbr. "Inspection Center") grew out of Industrial Boiler Product Quality Supervision and Inspection Center under Ministry of Machinery ...</p>
                        </div>
                        <div>
                            <div class="button_showcenter"><a href="/English/Page/PageInfo/18">MORE</a></div>
                        </div>
                    </div>
                    <div class="indexfuwuyou">
                        <div class="indexfuwuyoudh">
                            <ul>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/18">
                                        Organization Profile
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Static/Qualifications">
                                        Qualifications
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/22">
                                        Main Equipment
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Static/Service">
                                        Contents of Service
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Static/Equipment">
                                        Main References
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="indexlxfs">
                            <div class="indexlx"><a href="javascript:void(0);"><img src="/images/phome.gif" width="32" height="32"></a></div>
                            <div class="indexlxfsphone">021-34781959</div>
                            <div><a href="mailto:"><img src="/images/indexemail.gif" width="33" height="32"></a></div>
                        </div>
                    </div>
                </li>
                <!--<li>内容333</li>-->
                <li>
                    <div><img src="/images/indexfuwu02.jpg" width="299" height="342"></div>
                    <div class="showcenter">
                        <div class="showcentertit01">Products & Technologies</div>
                        <div class="showcentertit02">Basic introduction</div>
                        <div>
                            <p>
                                SIBRI has been focused on the technology R & D and industrialization application of boilers and auxiliaries, and has accumulated a number of representative product technologies over the past 30 years.
                            </p>
                        </div>
                        <div>
                            <div class="button_showcenter"><a href="/English/Product">MORE</a></div>
                        </div>
                    </div>
                    <div class="indexfuwuyou">
                        <div class="indexfuwuyoudh">
                            <ul>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Product">
                                        Basic introduction
                                    </a>
                                </li>
                                <li>
                                    <img src="/images/dot04.gif" width="31" height="10"><a href="/English/Product/List/31">
                                        Products & Technologies
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="indexlxfs">
                            <div class="indexlx"><a href="javascript:void(0);"><img src="/images/phome.gif" width="32" height="32"></a></div>
                            <div class="indexlxfsphone">021-34781959</div>
                            <div><a href="mailto:"><img src="/images/indexemail.gif" width="33" height="32"></a></div>
                        </div>
                    </div>
                </li>
                <!-- <li>内容444</li>-->
                <li>
                    <div><img src="/images/indexfuwu02.jpg" width="299" height="342"></div>
                    <div class="showcenter">
                        <div class="showcentertit01">SHANGHAI INDUSTRIAL BOILER RESEARCH INSTITUTE CO.,LTD</div>
                        <div class="showcentertit02">Brief Introduction</div>
                        <div>
                            <p>
                                SIBRI is the only research institute in China who engages in R & D and promoting of  energy-saving new products and technologies in industrial boiler industry,  thermal performance testing of products, environmental protection performance testing, performance...
                            </p>
                        </div>
                        <div>
                            <div class="button_showcenter"><a href="/English/Static/BriefIntroduction">MORE</a></div>
                        </div>
                    </div>
                    <div class="indexfuwuyou">
                        <div class="indexfuwuyoudh">
                            <ul>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Static/History">SIBRI’s&nbsp;History</a></li>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Static/BriefIntroduction">Brief&nbsp;Introduction</a></li>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/53">Present&nbsp;Leader</a></li>
                                <li><img src="/images/dot04.gif" width="31" height="10"><a href="/English/Page/PageInfo/12">Organization</a></li>
                            </ul>
                        </div>
                        <div class="indexlxfs">
                            <div class="indexlx"><a href="javascript:void(0);"><img src="/images/phome.gif" width="32" height="32"></a></div>
                            <div class="indexlxfsphone">021-34781959</div>
                            <div><a href="mailto:"><img src="/images/indexemail.gif" width="33" height="32"></a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="q_center03">
    <div id="mid_center01_03">
        <div id="spjz_indexcenter01_03">
            <div class="indexcenter01_03_titen">SHANGHAI INDUSTRIAL <span class="indexyjs">BOILER RESEARCH</span> INSTITUTE CO.,LTD</div>
            <div id="spjz_lanindexcenter01_03"></div>
            <div id="spjz_huiindexcenter01_03"></div>
        </div>
        <div id="yjs_index">
            <div id="yjs_indexleft">
                <div></div>
                <div>
                    <p>
                        SIBRI is the only research institute in China who engages in R & D and promoting of  energy-saving new products and technologies in industrial boiler industry,  thermal performance testing of products, environmental protection performance testing, performance evaluation of boiler auxiliary products, industry intelligence and standardization work.
                    </p>
                    <p>
                        SIBRI has 63 staffs, engineering technical personnel accounts for 76%, of which 2 Professorship Senior Engineer or national outstanding contribution experts, 10 senior engineers, 25 engineers and 7 masters.
                    </p>
                    <p>SIBRI is not only the Chairman of the board of directors and the Secretary-General ...</p>
                </div>
                <div>
                    <div class="button_showcenter"><a href="/English/Static/BriefIntroduction">MORE</a></div>
                </div>
            </div>
            <div><img src="/images/index05.jpg" width="535" height="355"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.piccro();
        });
    </script>
}