<div class="container-fluid bgblue_yjsphone"></div>
<nav class=" navbar-default" role="navigation">
    <div class="yjs_topdhmain">
        <div class="navbar-header yjs_topdh">
            <div class="container-fluid">
                
                    <div class="col-xs-1 topimgpad01 topimgpad00"><img src="/mobile/images/toplogonew_0.gif" class="img-responsive" /></div>

                    <div class="col-xs-1 topimgpad01 topimgpad00"><img src="/mobile/images/toplogonew_2.gif" class="img-responsive" /></div>

                    <div class="col-xs-8 topimgpad00"><img src="/mobile/images/toplogonew_3.gif" class="img-responsive" /></div>

                    <div class="col-xs-2">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                
            </div>
        </div>
        <div class="collapse navbar-collapse yjsdhdown" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Mobile">首&nbsp; &nbsp; 页</a></li>
                <li class="dividertit"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        新&nbsp; &nbsp; 闻<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile/News/List/48">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 公司新闻
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/News/List/52">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 科研成果
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/News/List/50">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 通知公告
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/News/List/51">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 专题专栏
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dividertit"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        公司简介<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile/Static/History">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 发展历程
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/BriefIntroduction">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 基本情况
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/12">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 组织结构
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="/Mobile/Page/PageInfo/53">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 公司领导
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/Job">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 人才招聘
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/Contact">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 联系我们
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dividertit"></li>
                <li><a href="/Mobile/Static/Platform">平台建设</a></li>
                <li class="dividertit"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        行业服务<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile/Page/PageInfo/13">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 工业锅炉分会秘书处
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/14">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 工业锅炉节能减排专委会秘书处
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/15">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 《工业锅炉》杂志编辑部
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/16">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 中国锅炉网
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/56">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 工业锅炉及辅机标准信息网
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/17">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 行业其他服务
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dividertit"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        检测与能审<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile/Page/PageInfo/18">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 机构简介
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/Qualifications">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 相关资质
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/Equipment">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 主要设备
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Static/Service">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 主要服务内容
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/22">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 主要测试业绩
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Page/PageInfo/57">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 公正性承诺
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dividertit"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        产品与技术<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Mobile/Product/List/23">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 基本介绍
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Mobile/Product/List/31">
                                <span class="glyphicon glyphicon-menu-right smlgly"></span>
                                &nbsp; 技术开发
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
