<div id="q_top_fixed">
    <div id="q_top01"></div>
    <div id="q_top02">
        <div id="mid_top02" class="padtop12">
            <div class="borderright10 mtop02div">
                <div class="topright00top padtop05 paderro">
                    <div class="smallfont fontweightbold">
                        <a href="/Home">中文</a>&nbsp;<a href="/English">ENGLISH</a>&nbsp;<a href="mailto:sibri@public1.sta.net.cn" class="topemail">E-Mail</a>&nbsp;
                    </div>
                    <div>
                        <img src="/images/phone.gif" />
                    </div>
                    <div>021-34781959</div>
                </div>
            </div>
        </div>
    </div>
    <!--导航1-->
    <div class="linehei1"></div>
    <div class="top-head" id="headdiv00">
        <div class="top02">
            <div id="mid_dh" class="top02_center nav">
                <ul>
                    <li class="m">
                        <a href="/English" class="aa1 mmm dhtit navlineheight">HOME</a>
                    </li>
                    <li id="m3" class="m">
                        <a href="/English/Static/BriefIntroduction" class="aa3 mmm dhtit navlineheight">INTRODUCTION</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li>
                                            <a href="/English/Static/History">
                                                <img src="/images/dhimages/gsjj01.gif" />SIBRI’s&nbsp;History
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/English/Static/BriefIntroduction">
                                                <img src="/images/dhimages/gsjj03.gif" />Brief&nbsp;Introduction
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/English/Page/PageInfo/12">
                                                <img src="/images/dhimages/gsjj04.gif" />Organization
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/English/Page/PageInfo/53">
                                                <img src="/images/dhimages/gsjj05.jpg" />Present&nbsp;Leader
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m6" class="m">
                        <a href="/English/Static/Platform" class="aa6 mmm dhtit navlineheight">PLATFORM</a>
                    </li>
                    <li id="m4" class="m">
                        <a href="/English/Page/PageInfo/13" class="aa4 mmm dhtit navlineheight">SERVICE</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="http://gygl.boilerchina.cn" target="_blank">
                                        <img src="/images/dhimages/hyfw01.gif">
                                    </a>
                                    <a href="http://www.china-boiler.net" target="_blank">
                                        <img src="/images/dhimages/hyfw02.gif">
                                    </a>
                                </div>
                                <div class="xiao_five2">
                                    <p>
                                        <a asp-controller="Page" asp-action="PageInfo" asp-route-id="13">the Secretariat of Industrial Boiler Branch</a>
                                        <a href="/English/Page/PageInfo/15">Editorial Department of Industrial Boiler Journal</a>
                                    </p>
                                    <p>
                                        <a href="/English/Page/PageInfo/16">www.china-boiler.net</a>
                                        <a href="/English/Page/PageInfo/17">Other industry services</a>
                                    </p>
                                    <p>
                                        <a href="/English/Page/PageInfo/14">the Secretariat of Industrial Boiler Energy-saving & Emission Reduction Professional Committee</a>
                                        <a href="/English/Page/PageInfo/56">Standard information network for industrial boilers and auxiliary machines</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m2" class="m">
                        <a href="/English/Page/PageInfo/18" class="aa2 mmm dhtit navlineheight">INSPECTION</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="/English/Static/Qualifications">
                                        <img src="/images/dhimages/jc01.gif">
                                    </a>
                                    <a href="/English/Static/Equipment">
                                        <img src="/images/dhimages/jc02.gif">
                                    </a>
                                </div>
                                <div class="xiao_five2">
                                    <p>
                                        <a href="/English/Page/PageInfo/18">Organization profile</a>
                                        <a href="/English/Static/Qualifications">Qualifications</a>
                                    </p>
                                    <p>
                                        <a href="/English/Static/Equipment">Main equipment</a>
                                        <a href="/English/Static/Service">Contents of service</a>
                                    </p>
                                    <p>
                                        <a href="/English/Page/PageInfo/22">Main references</a>
                                        <a href="/English/Page/PageInfo/57">Impartiality Commitment</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m5" class="m">
                        <a href="/English/Product" class="aa5 mmm dhtit navlineheight">PRODUCT</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li>
                                            <a href="/English/Product">
                                                <img src="/images/dhimages/cpjs01.gif" />Basic introduction
                                            </a>
                                        </li>
                                        @*<li>
                                            <a href="/Views/Product/research.asp">
                                                <img src="/images/dhimages/cpjs02.gif" />scientific achievements
                                            </a>
                                        </li>*@
                                        <li>
                                            <a href="/English/Product/List/31">
                                                <img src="/images/dhimages/cpjs03.gif" />Products & technologies
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m9" class="m">
                        <a asp-action="Job" asp-controller="Static" class="aa8 mmm dhtit navlineheight">JOB</a>
                    </li>
                    <li id="m7" class="m">
                        <a asp-action="Contact" asp-controller="Static" class="aa7 mmm dhtit navlineheight">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="linehei1"></div>
    </div>
</div>