<div id="q_top_fixed">
    <div id="q_top01"></div>
    <div id="q_top02">
        <div id="mid_top02" class="padtop12">
            <div class="borderright10 mtop02div">
                <div class="topright00top padtop05 paderro">
                    <div class="smallfont fontweightbold">
                        <a href="/Home">中文</a>&nbsp;<a href="/English">ENGLISH</a>&nbsp;<a href="#" class="topemail">E-Mail</a>&nbsp;
                    </div>
                    <div>
                        <img src="/images/phone.gif" />
                    </div>
                    <div>021-34781959</div>
                </div>
                @*<div class="topright00top padtop05 clearboth00">
                    <div>
                        <input name="" type="text" class="inputtopss" />
                    </div>
                    <div>
                        <img src="/images/sebut.gif" />
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!--导航1-->
    <div class="linehei1"></div>
    <div class="top-head" id="headdiv00">
        <div class="top02">
            <div id="mid_dh" class="top02_center nav">
                <ul>
                    <li class="m">
                        <a href="/Views/Home/index.asp" class="aa1 mmm dhtit navlineheight">HOME</a>
                    </li>
                    <li id="m3" class="m">
                        <a href="/Views/Static/introduction.asp" class="aa3 mmm dhtit navlineheight">INTRODUCTION</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li>
                                            <a href="/Views/Static/history.asp">
                                                <img src="/images/dhimages/gsjj01.gif" />SIBRI’s&nbsp;History
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Static/news.asp">
                                                <img src="/images/dhimages/gsjj02.gif" />News
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Static/introduction.asp">
                                                <img src="/images/dhimages/gsjj03.gif" />Corporate&nbsp;Overview
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Static/organization.asp">
                                                <img src="/images/dhimages/gsjj04.gif" />Organization
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Static/leader.asp">
                                                <img src="/images/dhimages/gsjj05.jpg" />Present&nbsp;Leader
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m6" class="m">
                        <a href="/Views/Static/platform.asp" class="aa6 mmm dhtit navlineheight">PLATFORM</a>
                    </li>
                    <li id="m4" class="m">
                        <a href="/Views/Static/secretariat.asp" class="aa4 mmm dhtit navlineheight">SERVICE</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="#">
                                        <img src="/images/dhimages/hyfw01.gif">
                                    </a>
                                    <a href="#">
                                        <img src="/images/dhimages/hyfw02.gif">
                                    </a>
                                </div>
                                <div class="xiao_five2">
                                    <p>
                                        <a href="/Views/Static/secretariat.asp">the Secretariat of Industrial Boiler Branch</a>
                                        <a href="/Views/Static/magazine.asp">Editorial Department of Industrial Boiler Journal</a>
                                    </p>
                                    <p>
                                        <a href="/Views/Static/web.asp">www.china-boiler.net</a>
                                        <a href="/Views/Static/service.asp">Other industry services</a>
                                    </p>
                                    <p>
                                        <a href="/Views/Static/energy-saving.asp">the Secretariat of Industrial Boiler Energy-saving & Emission Reduction Professional Committee</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m2" class="m">
                        <a href="/Views/Static/inspection.asp" class="aa2 mmm dhtit navlineheight">INSPECTION</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_five">
                                    <a href="#">
                                        <img src="/images/dhimages/jc01.gif">
                                    </a>
                                    <a href="#">
                                        <img src="/images/dhimages/jc02.gif">
                                    </a>
                                </div>
                                <div class="xiao_five2">
                                    <p>
                                        <a href="/Views/Static/inspection.asp">Organization profile</a>
                                        <a href="/Views/Static/aptitude.asp">Qualifications</a>
                                    </p>
                                    <p>
                                        <a href="/Views/Static/equipment.asp">Main equipment</a>
                                        <a href="/Views/Static/content.asp">Contents of service</a>
                                    </p>
                                    <p>
                                        <a href="/Views/Static/achievement.asp">Main references</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m5" class="m">
                        <a href="/Views/Product/product.asp" class="aa5 mmm dhtit navlineheight">PRODUCT</a>
                        <div class="sub">
                            <div class="nav_xiao">
                                <div class="xiao_three">
                                    <ul>
                                        <li>
                                            <a href="/Views/Product/present.asp">
                                                <img src="/images/dhimages/cpjs01.gif" />Basic introduction
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Product/research.asp">
                                                <img src="/images/dhimages/cpjs02.gif" />scientific achievements
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Views/Product/product.asp">
                                                <img src="/images/dhimages/cpjs03.gif" />Products & technologies
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="m9" class="m">
                        <a href="/Views/Static/job.asp" class="aa8 mmm dhtit navlineheight">JOB</a>
                    </li>
                    <li id="m7" class="m">
                        <a href="/Views/Static/contact.asp" class="aa7 mmm dhtit navlineheight">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="linehei1"></div>
    </div>
</div>