@using Sibri.WebPage.ViewComponents
@{
    ViewData["Title"] = "基本介绍";
}
@section Css{
    <style type="text/css">
        .panelbodyli {
            font-weight: bold;
            background-color: #fff;
        }
            .panelbodyli a {
                color: #f66400;
            }
    </style>
}
@section Header{
    @await Component.InvokeAsync(nameof(Top))
}
@section Footer{
    @await Component.InvokeAsync(nameof(Bottom))
}
@await Component.InvokeAsync(nameof(Banner), new { categoryid = 23 })
@await Component.InvokeAsync(nameof(Product), new { categoryid = 6, direction = 1 })
<div id="q_neipro_bu50" class="nei50"></div>
<div id="q_neipro_10">
    <div id="mid_nei10_01" class="top50">
        @await Component.InvokeAsync(nameof(Left), new { view = "Product", categoryid = 6 })
        <div id="nei10_01_right">
            <div class="protit01 margintop20">基本介绍</div>
            <div>
                <p>
                    公司一直专注于锅炉及辅机产品的技术研发和产业化推广应用，通过30多年的发展，积累了一批具有代表性的产品技术。
                    2010年，随着原四方锅炉厂核心技术团队的加入，更加增强了我所在技术 研发、产品设计和工程管理领域的实力，有效扩充了公司产品系列和技术储备。
                    目前公司拥有原上海四方锅炉厂的注册商标：<img src="/images/logo001.png" /> 全部专利、知识产权和所有积累的技术及资料。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="height30kong"></div>
@section Scripts{
    <script>
        $(function () {
            $(".panel-body").hide();//隐藏二级菜单
            $(".panel-header").on("click", function () {//产品与技术左导航
                let next = $(this).next();
                next.slideToggle(300);
                $(".panel-body").not(next).slideUp();
            })
            $('.panel-body li').hover(function () {
                $(this).find('img').attr("src", "/images/dot04.png");
                $(this).siblings().find('img').attr("src", "/images/dot04_00.png")
                $(this).addClass('panelbodyli').siblings().removeClass('panelbodyli');
            });
            $('#nei10_01_left>div').hover(function () {
                $(this).addClass('select02').siblings().removeClass('select02');
            });

        })
    </script>
}
