<div class="mb_bottom01">
    Copyright @@ 1998-2018 All Right Reserved. <br />
    版权所有 国机集团 上海工业锅炉研究所有限公司 <br />
    网络备案号:沪ICP备09086544号
</div>
<div class="mb_bottom02 parentjz">
    <div class="jz">
        <div><a href="/Mobile"><span class="glyphicon glyphicon-home"></span></a></div>
        <div><a href="/Mobile/Static/Contact"><span class="glyphicon glyphicon-phone-alt"></span></a></div>
        <div><a href="mailto:sibri@public1.sta.net.cn"><span class="glyphicon glyphicon-envelope"></span></a></div>
        <div><a href="/Mobile/Static/Job"><span class="glyphicon glyphicon-user"></span></a></div>
    </div>
</div>
