@using Sibri.BLL.news.services
@inject INewsService Service
@{ 
    var insideNews = await Service.GetNewsList(48, 4, 0);
    var projectResults = await Service.GetNewsList(52, 4, 0);
}
<div id="q_bottom_01">
    <div id="mid_bottom_01">
        <div class="bottomrightline">
            <div class="bottomline"><img src="/images/bottom01.gif" /></div>
            <div class="bottomaddr">
                上海市闵行区浦江镇新骏环路138号<br />
                浦江高科技园区4幢1-3楼
            </div>
            <div class="bottomphone">
                Phone : 021-34781959（总机）<br />
                Email : <a href="mailto:sibri@public1.sta.net.cn">sibri@public1.sta.net.cn</a>
            </div>
            <div class="bottompicleft">
                <div><img src="/images/bottompic01.gif" /> </div>
                <div class="bottompicleftmargin20"><img src="/images/bottompic02.gif" /> </div>
            </div>
        </div>
        <div class="bottomrightline bottomleft10">
            <div>公司新闻</div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01">
                <ul>
                    @foreach (var item in insideNews)
                    {
                        var title = item.Title;
                        if (title.Length > 14) {
                            title = title.Substring(0, 14);
                        }
                        <li><img src="/images/dot02.gif" />
                            <a href="/News/Detail/@item.NewsID" target="_blank">@title</a>
                    </li>
                    }
                </ul>
            </div>
            <div>
                <div class="bottombutton01"><a href="/News/List/48">READ MORE</a></div>

            </div>
        </div>
        <div class="bottomrightline bottomleft10">
            <div>项目成果</div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01">
                <ul>
                    @foreach (var item in projectResults)
                    {
                        var title = item.Title;
                        if (title.Length > 14)
                        {
                            title = title.Substring(0, 14);
                        }
                        <li>
                            <img src="/images/dot02.gif" />
                            <a href="/News/Detail/@item.NewsID" target="_blank">@title</a>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <div class="bottombutton01"><a href="/News/List/52">READ MORE</a></div>
            </div>
        </div>
        <div class="bottomleft10">
            <div><a href="/Views/Static/introduction.asp">企业风采</a></div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01 qyfc">
                <ul>
                    <li><img src="/images/bottompicfengcai01.gif" /></li>
                    <li><img src="/images/bottompicfengcai02.gif" /></li>
                    <li><img src="/images/bottompicfengcai03.gif" /></li>
                </ul>
                <ul>
                    <li><img src="/images/bottompicfengcai04.gif" /></li>
                    <li><img src="/images/bottompicfengcai05.gif" /></li>
                    <li><img src="/images/bottompicfengcai06.gif" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="q_bottom_02">
    <div id="mid_bottom_02">
        Copyright @@ 1998-2018 All Right Reserved. 版权所有 国机集团 上海工业锅炉研究所有限公司 网络备案号:沪ICP备09086544号
    </div>
</div>