<div id="q_bottom_01">
    <div id="mid_bottom_01">
        <div class="bottomrightline">
            <div class="bottomline"><img src="/images/bottom01.gif" /></div>
            <div class="bottomaddr">
                上海市闵行区浦江镇新骏环路138号<br />
                浦江高科技园区4幢1-3楼
            </div>
            <div class="bottomphone">
                Phone : 021-34781959（总机）<br />
                Email : <a href="mailto:">mail@example.com</a>
            </div>
            <div class="bottompicleft">
                <div><img src="/images/bottompic01.gif" /> </div>
                <div class="bottompicleftmargin20"><img src="/images/bottompic02.gif" /> </div>
            </div>
        </div>
        <div class="bottomrightline bottomleft10">
            <div>项目成果—进行中</div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01">
                <ul>
                    <li><img src="/images/dot02.gif" />超细煤粉悬浮燃烧应用关键技术</li>
                    <li><img src="/images/dot02.gif" />燃煤工业锅炉湿法脱硫关键技术</li>
                    <li><img src="/images/dot02.gif" />燃煤链条炉排锅炉炉排送风系统</li>
                    <li><img src="/images/dot02.gif" />燃油燃气锅炉尾部节能装置的研</li>
                </ul>
            </div>
            <div>
                <div class="bottombutton01">READ MORE</div>
            </div>
        </div>
        <div class="bottomrightline bottomleft10">
            <div>项目成果——已完成</div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01">
                <ul>
                    <li>
                        <img src="/images/dot02.gif" />我所研发锅炉辅机设备及锅炉节
                    </li>
                    <li><img src="/images/dot02.gif" />我所研发立式水管自然循环冷凝</li>
                    <li><img src="/images/dot02.gif" />我所研发角管式锅炉系列</li>
                    <li><img src="/images/dot02.gif" />我所开发水管式燃油、燃气、油气</li>
                </ul>
            </div>
            <div>
                <div class="bottombutton01">READ MORE</div>
            </div>
        </div>
        <div class="bottomleft10">
            <div><a href="/Views/Static/introduction.asp">企业风采</a></div>
            <div class="bottomxiangmuline">
                <div></div>
            </div>
            <div class="bottomxm01 qyfc">
                <ul>
                    <li><img src="/images/bottompicfengcai01.gif" /></li>
                    <li><img src="/images/bottompicfengcai02.gif" /></li>
                    <li><img src="/images/bottompicfengcai03.gif" /></li>
                </ul>
                <ul>
                    <li><img src="/images/bottompicfengcai04.gif" /></li>
                    <li><img src="/images/bottompicfengcai05.gif" /></li>
                    <li><img src="/images/bottompicfengcai06.gif" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="q_bottom_02">
    <div>
        Copyright @@ 1998-2018 All Right Reserved. 版权所有 国机集团 上海工业锅炉研究所有限公司 网络备案号:沪ICP备09086544号
    </div>
</div>
