<div id="q_bottom_02">
    <div>
        Copyright @@ 1998-2018 All Right Reserved.Shanghai Industrial Boiler Research Institute Co., Ltd under SINOMACH.网络备案号:沪ICP备09086544号
    </div>
</div>
<div id="q_bottom_03">
    <div id="mid_bottom_03">
        <div class="mid_bottom_03_01">
            <img src="/images/bottompic01.gif" width="103" height="70" /><img src="/images/bottompic02.gif" width="103" height="70" />
        </div>
        <div class="mid_bottom_03_02">
            <div class="mid_bottom_03_02_01">
                <div><img src="/english/images/bottom03_01.gif" width="76" height="24" /></div>
                <div>Floor 1~3, Building 4, Pujiang Hi-tech Park,  No. 138 <br />Xinjunhuan Road,Pujiang Town, Minhang District, Shanghai</div>
            </div>
            <div class="mid_bottom_03_02_02">
                <div>
                    <div>
                        <div><img src="/english/images/bottom03_02.gif" width="76" height="23" /></div>
                        <div>021-34781959（Operator）</div>
                    </div>
                    <div>
                        <div><img src="/english/images/bottom03_03.gif" width="76" height="23" /></div>
                        <div><a href="mailto:sibri@public1.sta.net.cn">sibri@public1.sta.net.cn</a></div>
                    </div>
                </div>
                <div><a href="/English/Static/Contact"><img src="/english/images/bottom03_04.gif" width="37" height="39" /></a></div>
            </div>
        </div>
        <div class="bottomxm01 qyfc">
            <ul>
                <li><img src="/images/bottompicfengcai01.gif" /></li>
                <li><img src="/images/bottompicfengcai02.gif" /></li>
                <li><img src="/images/bottompicfengcai03.gif" /></li>
                <li><img src="/images/bottompicfengcai04.gif" /></li>
            </ul>
        </div>
    </div>
</div>
